<div class="container">
  <p class="message"> KLIKNIJ W LIŚĆ ABY POMÓC</p>
  <p class="listek"> <img
    (mouseenter)="setLiscState('clicked')"
    (mouseleave)="setLiscState('default')"
    (click)="supportGoal()"
    class="listek-img"
    src="{{getLiscState()}}"> </p>
  <div class="buttons">
    <button class="side-button"> < Informacje </button>
    <button class="main-button" (click)="changeGoal()" *ngIf="!userSelectedGoal"> Wspierasz losowy cel!</button>
    <button class="main-button" (click)="changeGoal()" *ngIf="userSelectedGoal"> {{selectedGoal.name}}</button>
    <button class="side-button" (click)="goto('buddy')"> EcoBuddy > </button>
  </div>
</div>

<app-fundation-view
  *ngIf="shoudModalBeActive"
  [goals]="goals"
  (goalSignal)="setGoal($event)"
  (closeSignal)="closeModal()"
  />
<app-goal-supported-modal
  *ngIf="userSupported"
  (closeSignal)="closeSupportedModal()"
  />
