.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("src/assets/listek_background.png");
  background-size: 100% 100%;
}
.message{
  font-size: 1.5rem;
  font-family: "Helvetica Neue Medium Extended", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2rem;
  color: #000;
  margin: 1rem;
}
.main-button{
  padding: 0.5rem 1rem;
  border: 0.15rem solid #0ab90a;
  background-color: #48ab48;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.side-button{
  font-size: 1rem;
  text-decoration: underline;
  background: none;
  border: none;
}
.main-button:hover{
  cursor: pointer;
  scale: 1.03;
  transition: ease-in-out 0.2s;
}
.side-button:hover{
  cursor: pointer;
  text-decoration: none;
}
.buttons >*{
  margin: 0.5rem;
}
.listek-img{
  transform: rotateZ(-30deg);
  border: none;
}
