.container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: #598f58;
  border-radius: 10px;
}
.header{
  height: 3.5rem;
  background-color: #2f592f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-item{
  margin: 0.5rem;
  font-size: 1.25rem;
  font-family: "Helvetica Neue Medium Extended", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
.header-item > *{
  margin-right: 0.5rem;
}
.header-item:hover{
  background-color: #ffcc00;
  cursor: pointer;
  color:black;

}

