<div class="modal">
  <div class="modal-content">
    <h1> Czym jest listek? </h1>
    <div class="place-for-add">
      <p> Listek to projekt stworzony głównie by pomóc. Pomóc komu? Każdemu z nas!</p>
      <br>
      <p> Chcemy dbać o nasze środowisko i pomagać społecznie, dlatego klikając listka masz szansę dołączyć do naszej misji. </p>
      <p> Po dobrowolnym kliknięciu, włącza się krótka reklama. Jeżeli zdecydujesz się na obejrzenie jej, środki z jej odtworzenia zostaną przekazane na wybraną organizaję ekologiczną lub społeczną. </p>
      <p> Możesz również dołączyć do naszego specjalnego ListekBuddy, gdzie znajdziesz osoby chętne pomóc w dowolnie utworzonym celu! </p>
      <p> Każdy znajdzie coś dla siebie! Lista wydarzeń i udział w nich są bezpłatne oraz nie wymagają rejestracji. Pomagaj tak jak możesz razem z nami. </p>
      <p> Mamy jeszcze do zaoferowania funkcje przydatne na codzień, jak chociażby licznik zużycia prądu i szerokie pole do rozwoju, także sprawdźcie to i zostańcie z nami! </p>
      <br>
      <p> O nas:</p>
      <p> Jesteśmy grupą młodych i ambitnych studentów informatyki z Gdańska, chętnych wprowadzić zmiany które są niezbędne dla naszego świata. Tworzymy startup z myślą o pomaganiu, </p>
      <p> dlatego z obejrzanych reklam tylko 2 grosze trafiają do nas na utrzymanie strony i zadbanie o moderację, ulepszanie naszej ideei oraz dbanie o jak najlepsze doświadczenia przy uczestnictwie w wydarzeniach. </p>
    </div>
    <button (click)="closeModal()" class="close-btn"> Close </button>
  </div>
</div>
