.container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
}
.container > *{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.left, .right{
  flex-basis: 20%;
}
.center{
  flex-basis: 60%;
}
