/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
}
body{
  /*background-color: #a9cca9;*/
  background-image: url("src/assets/listek_background.png");
  background-size: 100% 100%;
}
