<div class="container">
  <div class="devices">
    <div class="all-devices">
      <app-single-device-view
        *ngFor="let device of devices"
        [device]="device"
        (click)="selectDevice(device)"
        />
    </div>
    <div class="your-devices">
      <app-single-device-view
        *ngFor="let device of yourDevices"
        [device]="device"
        (click)="removeDevice(device)"
        />
    </div>
  </div>
  <div class="result">
    <app-eco-home-result-view
      [userPowerUsage]="calculateDailyPowerUsage()" />
  </div>
</div>

<div class="modal" *ngIf="shouldModalBeActive && selectedDevice != undefined">
  <div class="modal-content">
    <img src="assets/responsive.png" width="100px" height="100px" rel="device">
    <h1 class="device-title"> {{selectedDevice.name}}</h1>
    <p class="device-power"> {{selectedDevice.powerUsage}}kW/h</p>
    <div class="buttons">
      <button class="close-btn" (click)="closeModal()"> Close </button>
      <button class="add-btn" (click)="addDevice()"> Add Device </button>
    </div>
  </div>
</div>
