.container{
  margin: 1rem;
  border-radius: 10px;
  padding: 0.75rem;
  width: 80%;
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #ffb73c;
}
.desc{
  font-family: "Helvetica Neue Medium Extended", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bolder;
}
.priority{
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
}
.high{
  background-color: #f85656;
}
.medium{
  background-color: #ffb73c;
}
.low{
  background-color: #07a207;
}
.container:hover{
  transform: scale(1.03);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
/*DODAJ STYL DLA HOVER NOT HOVER*/

